body{
    background-color: gray;
    
}
/* middle */
#middle{
    margin: 1em auto;
    width: 960px;
    border: 3px solid #1403ac;
    background-color: #036cec;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row: 4 ;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header{background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);

        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 25px;
        text-decoration: none;
        grid-column: span 12;
        border-bottom: 2px;
        grid-column: span 12;
        margin-bottom: 0px;
    }
    
h1 a{
    color: #b2cdf7;
    text-decoration: none;
    padding-left: 15px;
}

/* navigation */
nav{
    grid-column: span 12;
}
nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;

}
nav li{
    border: 1px solid blue;
    margin: 0px;
    width: 234px;
    display: inline-block;
    background-image: linear-gradient(to top, #020b81, #0c209b, #1334b5, #1547d0, #125beb);

}
nav li a{
    color: #9fbefd;
    display: block;
    text-decoration: none;
    padding: 10px;
}
nav  li a:hover{
    color: white;
}
/* main */
main{
    background-color: #ffffff;
    grid-column: span 9;
    padding-left: 10px;
    padding-right: 10px;
    
}
/* aside */
aside{
    background-color: #a2d0f8;
    text-align: justify;
    grid-column: span 3;
    font-weight: bold;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.floating{
    float: left;
    border:2px solid blue;
    margin-right: 10px;
    margin-left: 10px;

  }

p a{
    color: red;
    text-decoration: none;
    font-weight: bold;
}
.welcome{
    color:#0000ff;
    border-bottom: 3px solid #0000ff;
}
.floating{
    float: right;
}


/* foter */
footer{
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    grid-column: span 12;
    border-top:  3px solid blue;
}
