body {
    background-color: #010319;
    color: #ffffff;
   font-family:'Roboto', sans-serif;
   
  }

  #wrapper {
    margin: 24px auto;
    width: 1200px;
    border: 1px solid #10944;
    padding: 24px;
    background-color: #10944;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    grid-row: 4 ;
  }
  bi .bi-chevron-down{
    color:#ffffff;
   justify-content: center;
  }
  .up{
   text-align: center;
   grid-column: span 12;
   padding-top: 20px;
}
.one{
    text-align: center;
    grid-column: span 12;
    padding-top: 0px;
}
  nav{
    grid-column: span 12;
}
nav ul{
    list-style: none;
    padding: 0px ;
    margin: 0px auto;
    width: 1050px;
    margin-left: 130px;
  


}
nav li{
    margin: 0px;
    width: 150px;
    display: inline-block;
    background-color: #10944 ;
    justify-self: center;
    text-align: center;

}
nav li a{
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding: 10px;
}
nav  li a:hover{
    color:#ff7613;;
    transition: 0.6s ease-in ;
    border-radius: 2%;
    border: 1px solid #ff7613;;

}

/* nav ends */

/* Hero part */
.img{
    grid-column: span 12;
}
.floating{
float: right;
margin-left: 10px;
border: 2px solid #ff7613;;
border-radius: 1%;
background-color: #ff7613;;
box-shadow: 0em 0em .5em 1px;


}
.hero{
    padding-top: 80px;
    margin-right: 20px;
    text-align: justify;
    padding-right: 10px;
}
/* hero part ends */

/* card starts */

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    grid-column: span 4;
    align-content: center;
    margin: 0 auto;
    
    
}
main a{
    color: #ffffff;
    text-decoration: ;
}
 
.graphic{
    grid-column: span 4;
}
.photo{
grid-column: span 4;
}
.web{
    grid-column: span 4;  
}



 /* card ends */

 /* footer starts */
 .footer{
    
 grid-column: span 12;
 align-content: center;
 }
 .footer h2{
   text-align: center;
   border-bottom: .5px solid white;
   
 }
 .footer p{
    text-align: center;
    padding-top: 0; 
 }
.bi bi-linkedin{
    align-content: center;
}
 /* footer ends */

  /* style for dummy columns, delete and replace with your own CSS */
 