h1{
    color: white;
}
#divexample{
    background-color: #075d8b;
   
}
a{
    color: #035a03;
}
a:hover{
    color: white;

}

.spanstyle{
    color: rgb(133, 51, 0);
}
h3{
    background-color: yellow;
}
.textcolor{
    color: #ca0808;
}
h4{
    color: rgb(213, 237, 52);
    background-color: #003500;
}
.you{
    background-color: rgb(5, 158, 112);
}
.me{
    color: red;
   
}

  

.if{
    color:red;
}
.good{
    background-color: yellow;
}